/* body {
    background-color: rgb(68, 68, 68);
    color: white;
    font-size: 14px;
}

h2, h3, h4 {
    color: white;
} */

a h3:hover {
    text-decoration: none;
    transition: 0.5s;
    color: blue;
}

/* #myVideo {
    /* position: fixed; */
    /* right: 0;
    bottom: 0; */
    min-width: 100%;
    /*min-height: 100%; */
    background: rgba(0, 0, 0, 0.048);
    background-position: center;
    height: 100vh;
    background-attachment: fixed; */

}